body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#addItemForm {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#newTodoDescription {
    text-align: center;
}

#searchItemForm {
    padding-top: 25px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#newTodoSearch {
    text-align: center;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
}

#todoList {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* Each li element with the ul will hold a todo_item */
ul li {
    cursor: pointer;
    padding: 12px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
}

/* Set all odd list items to a different background colour (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* CSS style to hide the "tick" symbol if an item status is not set to "DONE"
This is done in code - see the addTodoItemToDisplay() function where the element is classList.toggle() */
.tickHidden {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
}

/* When clicked on, also show the "tick" symbol.  Again this is done in code.
   see the addTodoItemToDisplay() function  */
.tickVisible {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    visibility: visible;
}

.close {
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.listItemHidden {
    visibility: hidden;
}

.listItemVisible {
    visibility: visible;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}